body {
    background-color: blanchedalmond;
    padding: 25px;
}

main {
    text-align: center;
}

#languages {
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    width: 500px;
    background-color: aquamarine;
}

button {
    padding: 1px 6px 1px 6px;
    border-radius: 5px;
    font-size: .9rem;
    border: 0px;
    color: white;
    background-color: green;
}