body {
    background-color: goldenrod;
}

#timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal */
    align-items: center;
    padding-top: 50px;
}

span {
    display: inline-block;
    width: 60px;
}

.timer {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    padding: 10px 30px 10px 30px;
    background-color: goldenrod;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    margin-left: 15px;
}