body{
    background-color: rgb(45, 45, 74);
}
.images {
    
}

figure {
    display: inline;
}

img {
    max-width: 25%;
    height: auto;
}

figcaption {
    display: none;
    width: 250px;
    height: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
}